/* PROPIEDADES QUE SERVEN PARA TODAS LAS RESOLUCIONES */

.img_fondo1 {
    height: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
}

.img_fondo2 {
    height: 400px; 
    position: fixed;
    z-index: 1; 
    bottom: 0;
    left: 0; 
}


.animacion-inicio {
    transition: .5s;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-inicio  {
    fill: rgba(255, 255, 255, 0);
    stroke-dasharray: 0;
    stroke: rgba(255, 255, 255, 0.39);
    stroke-width: .5;
    transition: 5s;
}

.linea_logo {
    stroke-dasharray: 200;
    fill: rgba(255, 255, 255, 0.712);
    transition: 5s;
}

/* @keyframes ba {
    0%{
        stroke-dasharray: 0;
    }
    50%{
        stroke-dasharray: 200;
    }
    100%{
        stroke-dasharray: 0;
    }
} */


.opacidad {
    filter: opacity(0%);
}

.none {
    display: none;
}



.svg-fondo {
    width: 150%;
    height: 150%;
    position: absolute;
    top: 0;
    z-index: 1;
/*     filter: brightness(10%); */
    fill: blue;
    stroke: #fff;
    stroke-width: 2;
    
    stroke-dasharray: 900;

    animation: bu 100s linear infinite;
}

polygon {
    fill: rgba(255, 0, 0, 0);
}

@keyframes bu {
    0%{
        stroke-dasharray: 0;
    }
    50%{
        stroke-dasharray: 1000;
    }
    100%{
        stroke-dasharray: 0;
    }
}
