* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

:root {
    --titulo: 20px;
    --letras: 15px;
}

.svg-fondo {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
}

body {
    background-color: #5d6171;
}



.container {
    height: auto;
    position: absolute;
    z-index: 9999;
    display: flex;
}

header {
    height: auto;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

header .foto {
    margin-top: 50px;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

header .info {
    color: #fff;
    font-size: var(--titulo);
    margin: 30px 0 5px 0;
}

header .raya {
    height: 3px;
    width: 75%;
    background-color: rgb(255, 255, 255);
    margin-left: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
}

header .lugar {
    height: 30px;
    width: 400px;
    display: flex;
    margin-top: 15px;
   margin-left: 150px;
    background-color: rgba(127, 255, 212, 0);
}

header .lugarico {
    height: 100%;
    width: 10%;
    background-color: rgba(0, 0, 255, 0);
}

header .lugarlugar {
    margin-left: 40px;
    color: #fff;
    width: 10000px;
    height: 100%;
    margin-left: 15px;
    background-color: rgba(139, 23, 23, 0);
    margin-top: 4px;
}

.lugarlugar b {
    font-size: var(--letras);
}

header .lugar2 {
    font-size: var(--letras);
    color: #fff;
    background-color: rgba(240, 10, 10, 0);
    width: 60%;
    margin-left: 50px;
    text-align: start;
    margin-bottom: 5px;
    margin-top: px;
}









































main {
    height: auto;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.514);
    display: flex;
    justify-content: center;
    position: relative;
    right: 0;
}

main .mainconte {
    height: 100%;
    width: 90%;
    text-align: end;
    background-color: rgba(255, 0, 0, 0);
}

main .mainconte h1{
    text-align: start;
    width: 100;
    font-size: 32px;
    margin-top: 45px;
}

main .mainconte h2{
    text-align: start;
    width: 100;
    font-size: 17px;
    margin-top: 10px;
}

main .mainconte .h3{
    text-align: start;
    width: 100;
    font-size: 15px;
    margin-top: 35px;
}

main .mainconte p{
    text-align: start;
    width: 100;
    font-size: 13px;
    margin-top: 15px;
}



.contenedorhabi {
    height: auto;
    width: 80%;
    background-color: rgba(204, 1, 255, 0);
    margin: 20px auto;
}








main .mainconntenedor {
    height: 35px;
    width: 50%;
    background-color: rgba(1, 183, 255, 0);
    display: flex;
    margin-left: -60px;
    margin-top: 15px;
}

main .mainconntenedor img {
    height: 100%;
    width: 15%;
    background-color: rgba(73, 255, 1, 0);
}

main .mainconntenedor h3 {
    display: inline-block;
    height: 100%;
    width: 80%;
    background-color: rgba(1, 255, 65, 0);
    font-size: 15px;
    margin-left: 5px;
    margin-top: 10px;
}

.contenedorhabi .raya {
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.contenedorhabi .cosas {
    height: 30px;
    width: 100%;
    background-color: rgba(255, 127, 80, 0);
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contenedorhabi .cosas img {
    height: 100%;
}

.contenedorhabi .cosas span {
    margin-right: 20px;
}


.contenedorhabi div {
    text-align: start;
    width: 100%;
}

.contenedorhabi .div1 {
    font-size: 15px;
    margin-top: 15px;
}

.contenedorhabi .div2 {
    font-size: 12px;
    margin-top: 5px;
}

.contenedorhabi .p {
    font-size: 13px;
    margin-top: 2px;
}

.contenedorhabi .p .lugar2{
    
    background-color: coral;
}